<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About us</title>
    </head>
    <body>
        {{> header}}
        <p>You dont need to know anything about us.</p>
        {{> footer}}
    </body>
</html>