<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        {{> header}}
        {{capitalize welcomeMessage}}
        {{> footer}}
    </body>
</html>